# Compiled JavaScript files
**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firebase-debug.*.log

# Environment variables
.env
.env.local
.env.*.local
